*.svn
BassBlog.xcodeproj/project.xcworkspace/contents.xcworkspacedata
BassBlog.xcodeproj/project.xcworkspace/xcshareddata/BassBlog.xccheckout
BassBlog.xcodeproj/project.xcworkspace/xcuserdata/tos.xcuserdatad/UserInterfaceState.xcuserstate
BassBlog.xcodeproj/xcuserdata/tos.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BassBlog.xcodeproj/xcuserdata/tos.xcuserdatad/xcschemes/BassBlog.xcscheme
BassBlog.xcodeproj/xcuserdata/pixel.xcuserdatad/xcschemes/BassBlog.xcscheme
BassBlog.xcodeproj/xcuserdata/pixel.xcuserdatad/xcschemes/xcschememanagement.plist
BassBlog.xcworkspace/xcuserdata/pixel.xcuserdatad/UserInterfaceState.xcuserstate
BassBlog.xcworkspace/xcuserdata/pixel.xcuserdatad/WorkspaceSettings.xcsettings
Pods/Pods.xcodeproj/xcuserdata/pixel.xcuserdatad/xcschemes/Pods-AFNetworking.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pixel.xcuserdatad/xcschemes/Pods-MarqueeLabel.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pixel.xcuserdatad/xcschemes/Pods.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pixel.xcuserdatad/xcschemes/xcschememanagement.plist
BassBlog.xcworkspace/xcshareddata/BassBlog.xccheckout
BassBlog.xcworkspace/xcuserdata/tos.xcuserdatad/UserInterfaceState.xcuserstate
